NODE_ENV=production
PORT=3001
DB_ADAPTER=supabase
SUPABASE_URL=https://SEU_PROJETO.supabase.co
SUPABASE_ANON_KEY=SEU_ANON_KEY
JWT_SECRET=GERAR_COM_openssl_rand_hex_32
ADMIN_PASSWORD=SUA_SENHA
CF_TURNSTILE_SECRET=SEU_TURNSTILE_SECRET
EVO_URL=http://77.37.126.43:8081
EVO_APIKEY=vG9#kP2m$L7xQ!r5TzW9@nB4jE8hU1yS
EVO_INSTANCE=Ortobom-Digital
EVO_NUMBER=5562991827568
